# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# node_modules
node_modules/

# build
dist/
dist-ssr/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# Data Archives
archive_scraper_data.json
data_english_staff.json
merged_fetch_scripts.js

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
